body{
    font-family:"Roboto",sans-serif;
}
.header{
    background-color:  #1f2937; 
    display: flex;
    color: white;
    flex-direction: row;
    margin-bottom: 0px;
    padding-top: 20px;
}
.alink{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
    text-decoration: none;
}
.img,.header{
    
    font-size: 18px;
    flex: 1;
    
}
.logo{
    margin-right: 1400px;
    margin-left: 150px;
}
.front{
    background-color:#1f2937;
    margin-top: 0px;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 500px;
}
.rightfront{
    color: white;
    width: 700px;
    height: 60px;
    margin-left: 150px;
    margin-right: 300px;
}
#mainT{
    font-size: 48px;
}
#text{
    font-size: 18px;
    margin-top:-35px;
}
.leftfront{
    color: white;
    margin-right: 150px;
    padding: 80px;
    background-color: rgba(152, 152, 233, 0.452);
}
#signBtn{
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    border-radius: 5px;
    font-weight: bolder;
}
.third{
    display: flex;
    justify-content: center;
    gap: 150px;   
}
#Htext{
    font-size: 24px;
    color: #1f2937;
}
#square-img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #3882f6 ;
}
.third-text{
    height: 100px;
    width: 200px;
}
.quote{
    padding: 100px 400px 100px 400px;
    font-style: italic ;
    font-size: 24px;
    color: #1f2937;
    background-color: #E5E7EB;
}
.footer{
    display: flex;
    background-color: #3882f6;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 150px 200px 150px 200px ;
    padding: 50px;
    border-radius: 20px;
    gap: 400px;
}

.footer-text h1{
font-size: 36px;
}
.footer-text h2{
    font-size:24px;
}
#footer-button{
    font-size: 36px;
    border-radius: 18px;
    padding: 10px 30px 10px 30px;
    color: white;
    border-color: white;
    border-width: 5px; 
    background-color: #3882f6;
}