.header{
    background-color:  #1f2937; 
    display: flex;
    color: white;
    flex-direction: row;
    gap: 55px;
}
.alink{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}
.img,.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    flex: 1;
    
}
.logo{
    
    margin-right: 300px;
}
.alink{
    
    justify-content: right;
    margin-right: 10px;
}